{#
/**
 * @file
 * Default theme implementation to print a salutation message.
 *
 * Available variables:
 *   - salutation_text: the salutation message (according to the part of the day) set by the content editor.
 *
 * @see template_preprocess_salutation()
 *
 * @ingroup themeable
 */
#}
<div class="salutation_text">
  <p>{{ salutation_text }}</p>
</div>
